* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-color: #f97316;
}
.dark {
  background-color: #000000 !important;
}
input {
  /* background-color: #3B3B3B; */
  border: 1px solid #ccc;
}

.dark .country-box {
  background-color: #3b3b3b;
}
.dark .selectBar {
  background-color: #3b3b3b;
}
.dark .MuiSelect-select {
  color: #fff;
}
header {
  box-shadow: 0 -6px 5px 5px rgba(107, 106, 106, 0.5);
}
.darkBtn {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.darkBtn:hover {
  background-color: #000000;
  color: #fff;
}
.leaflet-bottom leaflet-right {
  display: none;
}

.dark header .logo,
.dark .MuiSelect-icon,
.dark .SearchBarIconBox svg,
.dark .btnColor svg #Light {
  color: var(--main-color) !important;
}
.mainColor {
  color: var(--main-color);
}
#demo-select-small-label {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
/* ! Pagination */
/* .dark .MuiPagination-ul li button {
  background-color: #0E0E0E;
  color: #fff;
  border: 1px solid var(--main-color);
}
.dark .MuiPagination-ul li button:hover {
  background-color: var(--main-color);
}
.dark .MuiPagination-ul li:first-child button,
.dark .MuiPagination-ul li:last-child button{
  background-color: var(--main-color) !important;
} */

/* .dark .customPagination button {
  background-color: #0E0E0E;
  color: #fff;
  border: 1px solid var(--main-color);
}
.dark .customPagination button:last-child, 
.dark .customPagination button:first-child  {
 background-color: var(--main-color);
}
.currentPage {
  background: #1E40AF !important;
  border: none !important;
} */
